:root {
    /*cores pirmárias*/
    --cor-principal-rosa: hsl(322, 100%, 66%);
    --cor-principal-rosa-claro: hsl(321, 100%, 78%);
    --cor-principal-vermelho-claro: hsl(0, 100%, 63%);
    /*cores dos textos*/
    --cor-titulo-ciano-escuro: hsl(192, 100%, 9%);
    --cor-paragrafo-ciano: hsl(192, 72%, 15%);
    --cor-paragrafo-azul-palido: hsl(207, 100%, 98%);
    --cor-paragrafo-branco-palido:hsla(0, 0%, 100%, 0.87);
    --cor-paragrafo-ciano-claro: rgba(11, 44, 53, 0.562);
    /*fonts*/
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


header,main{
    margin: 5vw;
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

header img {
    height: 30%;
    width: 30%;
}

header button {
    font-family: 'Open Sans', sans-serif;
    color: var(--cor-principal-rosa);
    border-radius: 20vw;
    border: 1px var(--cor-principal-rosa);
    border-style: solid;
    font-size: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 4vw;
    padding-right: 4vw;
    cursor: pointer;
}

header button:hover {
    color: var(--cor-principal-rosa-claro);
    border: 1px var(--cor-principal-rosa-claro);
    border-style: solid;
}

#primeiroConteudo {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: min(200px, 30vw);
    margin-bottom: min(200px, 30vw);
}

#primeiroConteudo h1{
    font-family: 'Poppins', sans-serif;
    font-size: min(50px,6vw);
    color: var(--cor-titulo-ciano-escuro);
    margin-bottom: 5vw;
}

#primeiroConteudo p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: min(25px,3.5vw);
    font-weight: 600;
    color: var(--cor-paragrafo-ciano);
    margin-bottom: 10vw;
}

.botaosDoConteudo {
    font-family: 'Open Sans', sans-serif;
    font-size: 3vw;
    background-color: var(--cor-principal-rosa);
    color: white;
    padding: 2.7vw;
    margin-inline: 20vw;
    border-radius: 20vw;
    box-shadow: 0vw 1vw 1vw -4px rgba(0, 0, 0, 0.200);
    cursor: pointer;
    margin-bottom: 30vw;
}

#primeiroConteudo button:hover {
    background-color: var(--cor-principal-rosa-claro);
}

#primeiroConteudo img {
    width: 90%;
    margin-inline: 5%;
}

#segundoConteudo {
    display: grid;
    justify-content: center;
    margin-bottom: 30vw;
}


#segundoConteudo div {
    padding-bottom: 50%;
}

#segundoConteudo div img {
    width: 15%;
    padding-left: 1vw;
}

#segundoConteudo div h1 {
    color: var(--cor-titulo-ciano-escuro);
}

#comunidades h1{
    font-size: min(322px, 19vw);
}

#mensagem h1 {
    font-size: min(300px, 17vw);
}

#segundoConteudo div p {
    color: var(--cor-paragrafo-ciano-claro);
    font-size: 4vw;
    align-items: center;
    white-space : nowrap;
    text-align: center;
}



#terceiroConteudo {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#terceiroConteudo img{
    width: 70vw;
    align-items: center;
    margin-bottom: min(70px, 30vw);
    
}

.terceiroConteudo {
    margin-bottom: 20vw;
}

#terceiroConteudo h1{
    font-family: 'Poppins', sans-serif;
    color: var(--cor-titulo-ciano-escuro);
    font-size: 5.5vw;
    padding-top: 5vw;
    padding-bottom: 4vw;
    
}

#terceiroConteudo p {
    font-family: 'Open Sans', sans-serif;
    color: var(--cor-paragrafo-ciano);
    text-align: center;
    font-size: 3.5vw;
    font-weight: 600;
    padding-bottom: min(300px, 50vw);
    
}


#quartoConteudo {
    text-align: center;
    display: flex;
    flex-direction: column;
    
}


#quartoConteudo h1 {
    font-family: 'Poppins', sans-serif;
    font-size: min(50px,6vw);
    color: var(--cor-titulo-ciano-escuro);
    margin-bottom: 1rem;

}


#transicaoDoRodape {
    display:flex;
    overflow: hidden;
    
}

#transicaoDoRodape img{
    overflow: hidden;
    width: 100%;
}

footer {
    background-color: var(--cor-titulo-ciano-escuro);
    color: var(--cor-paragrafo-azul-palido);
}

#conteudoDoRodape {
    margin: 7vw;
    margin-bottom: -30vw;
}

#ladoDireitoDoRodape {
    display: flex;
    flex-direction: column;
}

#ladoDireitoDoRodape:last-child {
    align-items: flex-end;
}

#ladoDireitoDoRodape h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: min(300px, 5vw);
    text-transform: uppercase;
    margin-top: 20vw;
    margin-bottom: 3vw;
}

#ladoDireitoDoRodape p , #ladoEsquerdoDoRodape p{
    color: var(--cor-paragrafo-branco-palido);
    font-family: 'Open Sans', sans-serif;
    font-size: min(300px, 3.5vw);
    font-weight: 600;
    line-height: 6vw;
    margin-bottom: 8vw;
}

#contato {
    display: flex;
    flex-direction: column;
}

#contato input {
    width: 86vw;
    padding-top: 4.5vw;
    padding-bottom: 4.5vw;
    padding-inline: 1vw;
    border-radius: 1.5vw;
    margin-bottom: 3vw;
    font-size: 4vw;
}

#contato #inscreva-se {
    font-size: 4vw;
    font-weight: 600;
    margin-left: 50vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-inline: 5.6vw;
    border-radius: 1.5vw;
    background-color: var(--cor-principal-rosa);
    color: var(--cor-paragrafo-branco-palido);
    cursor: pointer;
}

#inscreva-se:hover {
    background-color: var(--cor-principal-rosa-claro);
}

/*lado esquerdo do roda pé*/
#ladoEsquerdoDoRodape {
    margin-top: 30vw;

}
#logoDoRodape {
    filter: brightness(100) grayscale(100%) contrast(200%);
    width: 50vw;
    margin-bottom: 3vw;
    cursor: pointer;
}

#telefone, #email {
    display: flex;
}

#telefone img, #email img {
    height: 5vw;
    margin-right: 4vw;
    cursor: pointer;
}

#telefone p, #email p {
    cursor: pointer;
}

#redesSociais {
    display: flex;
}

#redesSociais i {
    font-size: 7vw;
    margin-inline: 3vw;
    margin-top: 4vw;
    margin-bottom: 10vw;
    cursor: pointer;
}

#redesSociais i:hover {
    color: cyan;
}

#redesSociais i:first-child {
    margin-left: 0;
}


@media (min-width: 900px) {
    
    header img  {
        height: 20%;
        width: 20%;
    }

    header button {
        font-size: 1vw;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    #primeiroConteudo h1 {
        margin-inline: 8vw;
        margin-bottom: 2vw;
        font-size: 4vw;
    }

    #primeiroConteudo p {
        margin-inline: 18vw;
        margin-bottom: 5vw;
        font-size: 1.5vw;
    }

    .botaosDoConteudo {
        font-size: 1.7vw;
        padding: 2vw;
        margin-inline: 30vw;
        margin-bottom: 7vw;
    }

    #segundoConteudo {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-inline: 10vw;
        margin-bottom: 25vw;
    }

    #segundoConteudo div {
        padding-bottom: 0;
    }

    #segundoConteudo div img {
        width: 4vw;
        padding-left: 1vw;
        
    }

    #comunidades h1 {
        font-size: 8vw;
    }

    #mensagem h1 {
        font-size: 8vw;
    }

    #segundoConteudo div p {
        font-size: 1.5vw;
    }



    #terceiroConteudo img {
        width: 35vw;
        height: 35vw;
    }

    #terceiroConteudo h1 {
        font-size: 2.7vw;
        text-align: start;
        padding: 0vw;
        padding-bottom: 2vw;
    }

    #terceiroConteudo p {
        font-size: 1.2vw;
        text-align: start;
        padding-bottom: 5vw;
    }

    #crescerJuntos, #conversaFluida, #seusUsuarios {
        display: flex;
        margin: 5vw;
        align-items: center;
    }

    #crescerJuntos, #seusUsuarios {
        flex-direction: row-reverse;
    }

    #crescerJuntos .textoDoTerceiroConteudo, #seusUsuarios .textoDoTerceiroConteudo {
        margin-right: 4vw;
    }

    #conversaFluida .textoDoTerceiroConteudo {
        margin-right: 0;
        margin-left: 4vw;
    }

    #quartoConteudo h1{
        margin-top: 15vw;
        margin-bottom: 4vw;
        margin-inline: 10vw;
        font-size: 3vw;
    }

    #conteudoDoRodape {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 0;
    }

    #ladoDireitoDoRodape p , #ladoEsquerdoDoRodape p {
        font-size: 1vw;
        font-weight: 600;
        line-height: 2vw;
        margin-bottom: 0vw;
        margin-right: 7vw;
    }

    #ladoDireitoDoRodape p {
        margin-right: 5vw;
        margin-bottom: 3vw;
    }

    /*lado esquerdo do roda pé*/
    #ladoEsquerdoDoRodape {
        margin-top: 5vw;
        width: 33vw;
    }
    #logoDoRodape {
        filter: brightness(100) grayscale(100%) contrast(200%);
        width: 20vw;
        margin-bottom: 2vw;
        cursor: pointer;
    }

    #telefone, #email {
        display: flex;
        margin-top: 1vw;
        align-items: center;
    }

    #telefone img, #email img {
        height: 1.5vw;
        margin-right: 1vw;
    }

    #telefone {
        margin-top: 2vw;
    }

    #redesSociais {
        display: flex;
    }

    #redesSociais i {
        font-size: 2.5vw;
        margin-inline: 1vw;
        margin-top: 4vw;
        margin-bottom: 5vw;
        cursor: pointer;
    }

    #redesSociais i:first-child {
        margin-left: 0;
    }

    /*Lado direito do rodapé*/

    #ladoDireitoDoRodape {
        justify-content: flex-start;
        width: 35vw;
    }

    #ladoDireitoDoRodape h1 {
        font-size: 2vw;
        margin-top: 5vw;
        margin-bottom: 3vw;
    }
        
    #contato {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }


    #contato input {
        width: 25vw;
        padding-top: 0vw;
        padding-bottom: 0vw;
        padding-inline: 1vw;
        border-radius: 0.5vw;
        margin-bottom: 0vw;
        font-size: 1vw;
    }

    #contato #inscreva-se {
        font-size: 1vw;
        font-weight: 600;
        margin-left: 1vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        padding-inline: 1vw;
        border-radius: 0.5vw;
        background-color: var(--cor-principal-rosa);
        color: var(--cor-paragrafo-branco-palido);
        cursor: pointer;
    }
}
